.back-color-b,body{background-color: #eee;}
.back-color-w{background-color: white;border-top-style: solid;
    border-color: 	#2F4F4F }
.navbar-default{background-color: #fff !important}
.back-color-b{border-radius: 3px;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.navbar-default .navbar-nav>.active>a{color:#FFF !important;background-color: #111 !important}
input[type="text"],input[type="password"],input[type="email"],select{width: 100%;height:26px;}
@media screen and (max-width: 768px){
	li.desk{display: none;}
}
h4{color:#444!important;}